@{
    ViewData["Title"] = "Our Page";
}
<div class="vh-100 d-flex justify-content-center align-items-center bg-light">

<div class="text-center ">
   <h2>Hello Welcome To Our App</h2>
   <p>Click Here For Sign In <a class="btn btn-success" href="/login"> Sign In</a> </p>
   <p>Click Here For Sign up <a class="btn btn-primary" href="/signup"> Sign Up</a> </p>
</div>
</div>
